<apex:page >
<iframe src="https://drive.google.com/embeddedfolderview?id=FOLDER-ID#list" width="800" height="600" frameborder="0"></iframe>
//<iframe src="https://drive.google.com/embeddedfolderview?id=FOLDER-ID#grid" width="800" height="600" frameborder="0"></iframe>
</apex:page>