/* https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,700,800italic,800,700italic,600&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic */

.THIS .form-control {
    float:left; 
}

.THIS .focusColor:focus {
    box-shadow: #800080 0px 0px 3px;
    
}
.THIS .focusColorr:focus {
    box-shadow: transparent 0px 0px 3px;
    outline:none;
}

.THIS .slds-button.focusColorrr:hover {
    color: #1E1E23!important;    
}


.THIS .svgg{
       color: #800080;
        top: 24px;
}

.THIS .form-control1 {
    height: 40px;
    width: 460px;
    margin-top:18px;
    margin-left: 93px;
    
}
.THIS .profileName{
    padding: 0 2px 0 7px;
    font-weight: 1200;
    font-size: 15px;
    color: red;
}

.THIS .buttonform{
    margin-left:20px;
    margin-right:20px;  
    padding:3px;
    padding-right: 13px;
    padding-left:13px;
    color : white;
}

.THIS .slds-dropdown-trigger button {
    border: 0px;
    margin: 0px;
    padding: 0px;
    color: #362C96;
}

.THIS .slds-dropdown-trigger button + .slds-dropdown{
    left:-74px;
}

.THIS .slds-dropdown-trigger button:focus {
    box-shadow:none; 
}

.THIS .slds-dropdown-trigger button span:first-child {
    display:none !important;
}

.THIS .ColorHoverCol:hover {
    background-color: #FF4E00 !important ;
        color: white;
}

.THIS .buttonFont {
    border-radius: 7px;
    color:white;
    
}

.THIS .dropDown {
    color:#362C96;
}

.THIS .slds-truncate {
    color:#362C96;
}
.THIS .toggle {
    display:none;
}
.THIS .my-account-link {
    position: relative;
    padding-right: 19px;
    margin: 9px 0 0 0;
    display: block;
    text-decoration: none;
    font-family: Arial;
        line-height: 24px;
    color: #000;
}
.THIS .my-account-link:after {
    content: '';
    height: 0;
    width: 0;
    border: 7px solid #362C96;
    position: absolute;
    right: 0;
    top: 9px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid transparent;
}
.THIS .slds-dropdown-trigger .slds-dropdown.slds-dropdown_left.slds-dropdown_small {
    width: 125px;
    min-width: 125px;
    
}
.THIS .slds-button:hover, .THIS .slds-button:focus, .THIS .slds-button:active {
    /*color: #191970!important;*/
}

.THIS .paddings:focus::-webkit-input-placeholder  {
   color: #1E1E23;
}